USE [WebAspDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[ShortDes] [nvarchar](max) NULL,
	[ShowOnHomePage] [bit] NULL,
	[FullDescription] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[PriceDiscount] [float] NULL,
	[TypeId] [int] NULL,
	[Slug] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/19/2025 12:44:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsAdmin] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Provider] [nvarchar](max) NULL,
	[FirebaseUid] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [Image], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (11, N'Fruits', N'e0e15d91-994a-46b1-9a89-c3718b043d3a.jpg', NULL, 1, 2, CAST(N'2025-08-12T14:14:40.480' AS DateTime), CAST(N'2025-08-12T14:45:59.510' AS DateTime), 0)
INSERT [dbo].[Brands] ([Id], [Name], [Image], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (12, N'Vegetables', N'b5db7214-7786-475e-80db-aff4775aad97.jpg', NULL, 1, 1, CAST(N'2025-08-12T14:15:33.107' AS DateTime), CAST(N'2025-08-12T14:45:48.277' AS DateTime), 0)
INSERT [dbo].[Brands] ([Id], [Name], [Image], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (13, N'Juices', N'98273221-25aa-4c02-bfb8-2a0acbd16344.jpg', NULL, 1, 3, CAST(N'2025-08-12T14:16:00.097' AS DateTime), CAST(N'2025-08-12T14:45:22.027' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Image], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (11, N'Fruits', N'5b130fa4-a2d4-4421-b2b4-3663cb093e70.jpg', NULL, 1, 1, CAST(N'2025-08-12T14:17:51.100' AS DateTime), CAST(N'2025-08-12T14:18:06.620' AS DateTime), 0)
INSERT [dbo].[Categories] ([Id], [Name], [Image], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (12, N'Vegetables', N'88655f3b-701c-4541-95d8-ea47d3124dba.jpg', NULL, 1, 2, CAST(N'2025-08-12T14:18:22.660' AS DateTime), NULL, 0)
INSERT [dbo].[Categories] ([Id], [Name], [Image], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (13, N'Juices', N'96b02d4b-64c1-4e6a-b451-0f24b75723dd.jpg', NULL, 1, 3, CAST(N'2025-08-12T14:18:36.787' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UserId], [Quantity], [Price], [TotalPrice], [CreatedAt]) VALUES (1, 1, 54, 1, 2, 25, 50, CAST(N'2025-08-18T21:48:20.423' AS DateTime))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [UserId], [Quantity], [Price], [TotalPrice], [CreatedAt]) VALUES (2, 2, 59, 1, 2, 25, 50, CAST(N'2025-08-18T22:15:51.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Name], [UserId], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'NTT1755528500212', 1, 4, CAST(N'2025-08-18T21:48:20.220' AS DateTime), CAST(N'2025-08-18T21:49:07.110' AS DateTime))
INSERT [dbo].[Orders] ([Id], [Name], [UserId], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'NTT1755530151639', 1, 1, CAST(N'2025-08-18T22:15:51.643' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Image], [CategoryId], [BrandId], [ShortDes], [ShowOnHomePage], [FullDescription], [Price], [PriceDiscount], [TypeId], [Slug], [CreatedAt], [UpdatedAt], [Deleted]) VALUES (54, N'Strawberry', N'7fcd8ff3-243f-40df-9d1d-eea2fcbeda76.jpg', 12, 12, N'ngon', 1, N'Dâu ngon thường có màu đỏ tươi, căng mọng, và có mùi thơm đặc trưng. Vị của dâu ngon thường là ngọt thanh, đôi khi có vị chua nhẹ, tạo nên sự cân bằng hài hòa. ', 25, 1, 1, NULL, CAST(N'2025-08-12T14:25:13.400' AS DateTime), CAST(N'2025-08-12T14:27:38.643' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin], [CreatedAt], [DisplayName], [Provider], [FirebaseUid]) VALUES (1, N'Nguyễn ', N'Tuấn', N'tuan112@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', 0, CAST(N'2025-08-18T19:27:48.943' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin], [CreatedAt], [DisplayName], [Provider], [FirebaseUid]) VALUES (2, N'nguyen', N'tuan', N'tuan@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', 0, CAST(N'2025-08-19T12:36:05.547' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
